@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #487346;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='453' height='453' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23608f57' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%2374ad69' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23608f57' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%2374ad69' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%237f8f53' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%239bad64' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%239bad64' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%237f8f53' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23B6CC76' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%237f8f53' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%239bad64' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23B6CC76' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
  font-weight: 700rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container {
  background-color: #93d48693;
  width: auto;
  max-width: 900px;
  padding: 1.4rem 2rem;
  border-radius: 5px;
  box-shadow: 1rem 2rem 2.5rem rgba(0, 0, 0, 0.5);
}

.quote-text {
    font-size: 2.75rem;
}

.long-quote {
    font-size: 2.5rem;
}

.fa-quote-left {
    font-size: 4rem;
}

.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-style: italic;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: #f1faee;
    border:1px solid #f1faee;
    font-size: 1rem;
    outline: none;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
    transition: all .2s ease-in-out;
}

button:active {
    box-shadow: 0.4rem 0.4rem 1rem rgba(0, 0, 0, 0.8);
}

button:hover {
    background-color:#003049;
    border: 1px solid#003049;
    color: #fff;
}

.twitter-button:hover {
    color: #38a1f3;
}

.fa-twitter {
    font-size: 1.2rem;
}

@media (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
        font-size: 2rem;
    }

    .quote-author {
        margin-top: 4px;
        font-size: 1.5rem;
    }
}